a { border: solid; 
 padding: 12px;
    background-color: yellow;}
a:hover{color: green;}
 	
body { background: red;
       color: black;
       font-size: 14pt; 
	   font-family: 'Oswald'; 

	   
h1 { background: dodgerblue;
	 color: blue;
	 font-size: 16pts;
	 font-family: 
	 
li { border: 2px solid red; }

TABLE { border: 1px solid black }